@font-face {
  font-family: "National Park";
  src: url("/fonts/NationalPark.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "National Park", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.editor-preview-row {
  /*display: flex;*/
  gap: 20px;

  display: grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
}

@media (max-width: 800px) {
  .editor-preview-row {
    grid-template-columns: 1fr;
  }
}

.editor-column,
.preview-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  min-width: 300px;
}

.controls-row {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.embed-section {
  display: flex;
}

.embed-code-wrapper {
  margin-left: 56px;
  margin-top: 28px;
}

:root {
  --bg: #ffffff;
  --text: #000000;
  --editor-bg: #f6f6f6;
  --preview-bg: #f6f6f6;
  --code-box-bg: #f6f6f6;
  --border-color: #d9d9d9;
}

.dark-mode {
  --bg: #1e1e1e;
  --text: #f1f1f1;
  --editor-bg: #2b2b2b;
  --preview-bg: #2b2b2b;
  --code-box-bg: #2b2b2b;
  --border-color: #444;
}

.editor-wrapper {
  background-color: var(--editor-bg);
  color: var(--text);
  border: 1px solid var(--border-color);
}

.preview {
  background-color: var(--preview-bg);
  border: 1px solid var(--border-color);
}

.embed-code-box {
  background-color: var(--code-box-bg);
  color: var(--text);
}

.editor {
  background-color: var(--code-box-bg);
  color: var(--text);
}

.code-box {
  background-color: var(--code-box-bg);
  color: var(--text);
}

.app-blurred {
  filter: blur(3px);
  pointer-events: none;
  user-select: none;
}

.project-title {
  margin: 0;
  /* text-align: center; */
  padding: 20px;
}

.step-1 {
  margin: 0;
  grid-column: 1 / span 2;
}

@media (max-width: 800px) {
  .step-1 {
    grid-column: auto;
  }
}

.step {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ed225d;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-right: 10px;
}

.project-title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.p5 {
  position: relative;
  display: inline-block;
}

.sup-five {
  font-size: 0.7em;
  vertical-align: super;
  margin-left: 1px;
  margin-right: 2px;
}

.star {
  font-size: 14px;
  color: #ed225d;
  position: absolute;
  top: -0.3em;
  right: -0.9em;
}
